/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/* Global Classes */
.custom-link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
}

.pointer {
  cursor: pointer;
}

.gap {
  padding-top: 100px;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: #02b875;
  margin-left: auto;
  margin-right: auto;
}

.underline2 {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.5rem;
  background: #02b875;
}

/* Navbar Class */
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}

.page {
  display: grid;
  align-items: center;
  margin-top: 0.25rem;
}

.main-img {
  display: none;
}
.home-img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.login-img {
  width: 100%;
  object-fit: cover;
  display: block;
}
@media (min-width: 992px) {
  .page {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }
  .main-img {
    display: block;
  }
}

.paginationItemStyle {
  margin-left: 5px !important;
}
.custom-card {
  box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}
